<h1><%= @tasks.name %></h1>
<%= @tasks.details %>
<%= @tasks.complete_by %>
<%= @priorities.priority %>
<%= link_to "Back to all tasks", tasks_path %>

<%= form_for @tasks, html: {method: "delete"} do |f| %>
  <%= f.submit "Delete #{@tasks.name}?" %>
<% end %>
